@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Syne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Righteous&family=Syne&display=swap');

:root{
  --color-primary: rgb(90,212,142);
  --color-secondary: rgb(68,215,229);
  --color-black: #101113;
  --color-white: #fff;
  --color-tertiary: #1E1E1E;
  /* 40px */
  --size-h1:2.5em; 
  
  --size-h2:4.1em;
  --size-t1:1.1em;
  --size-t2:1.25em;
  --size-t3:1.5em;
  --size-t4:2.25em;
  --style-2:"Righteous";
  --padding: 0 20vw;
  --border:1px solid white;
} 

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: var(--color-black) !important;
  color: var(--color-white);
  font-family: 'Syne', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

h1{
  font-size: var(--size-h1);
}

h2{
  font-size: var(--size-h2);
}

h3{
  font-size: var(--size-t4);
}

p{
  font-size: var(--size-t1);
}

p, a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: 30px;
  text-decoration: none;
  color: var(--color-white);
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

.App{
  
}